&.vyvoj
  position relative
  width 610px
  svg
    .highlight-lines
    .axes .axis.y
    .axes .axis.x .domain
    .axes .axis.x .extents g.extent line.extent
    .axes .axis.x .extents g.extent g.tick line
      display none
    .axes .axis.x .extents g.extent g.tick text
      opacity 0
    .lines
    g.line
      path
      g.points g.point:first-child circle
        stroke ColorBlue !important
        stroke-opacity 0.1
        fill-opacity 0.1
      g.points g.point:last-child circle
        stroke ColorBlue
        fill lighten(ColorBlue, 95%)
      g.points g.point text
        opacity 0
        font-size 12px


    &.active
      g.line g.points g.point:last-child circle
        stroke-opacity 0.2
        fill-opacity 0.2
      .lines g.line.active
        path
        circle
          stroke-opacity 1 !important
          fill-opacity 1 !important
        g.points g.point text
          opacity 1
      .axes .axis.x .extents g.extent.active g.tick text
        opacity 1
  .groups
    position absolute
    top 20px
    bottom 30px
    right 0px
    width 290px
    pointer-events none
    opacity 1
    transition opacity 0.2s
    .group
      position absolute
      width @width
      border-left 1px dotted #a
      span
        position absolute
        top 50%
        transform translate(0, -50%)
        padding-left 20px
        line-height 14px
        width (@width - @padding-left)
        font-size 12px
      &:before
      &:after
        position absolute
        content ""
        left -3px
        height 0px
        width 3px
        border-top 1px dotted #a
      &:after
        bottom 0px
  h2
    position absolute
    top 0px
    left 0px
    font-size 15px
    margin 0px
    pointer-events none
  &:hover
    .groups
      opacity 0
